.link {
  padding: 5px 20px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  position: relative;
}

.link[data-count]::after {
  content: attr(data-count);
  position: absolute;

  padding: 2px;
  transform: translate(50%, 50%);
  min-width: 15px;
  height: 15px;
  font-size: 12px;
  font-weight: 500;
  /* color: rgb(200, 90, 90); */
  border: 1px solid white;
  background-color: rgb(200, 90, 90);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: countSize 5s linear infinite; 
   bottom: -10px;
  right: -10px;*/
  animation: countColor 5s linear infinite;
  bottom: 0;
  right: 0;
}

.active,
.link:hover {
  border-left: 2px solid rgb(200, 90, 90);
  border-top: 2px solid rgb(200, 90, 90);
  border-radius: 10px 0 0 0;
  transition: all 0.5s ease;
}

@keyframes countSize {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes countColor {
  from {
    color: white;
  }
  50% {
    color: rgb(200, 90, 90);
  }
  to {
    color: white;
  }
}
